{% extends 'layout.html' %}

{% block content %}
<div class="movie-cards">
    {% for film in filme %} 
    <div class="movie-cards-row" >
        <div class="card" style="width: 18rem;">
            <img src="static/{{ film.image }}" alt="">
            <div class="card-body">
                <h1>{{film.titel}}</h1>
                <h4>{{film.laenge}}</h4>
                <a class="btn btn-primary" href="{{ url_for('main.display_film', film_id=film.id)}}" role="button">Info</a>
                <a class="btn btn-primary" href="{{ url_for('main.edit_film', film_id=film.id)}}" role="button">Edit</a>
                <a type="button" class="btn btn-danger" href="{{ url_for('main.delete_film', film_id=film.id)}}"> Löschen</a>   
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
