{% extends 'layout.html' %}

{% block content %}
<br>
<br>
<br>
    {% with messages = get_flashed_messages() %}
              {% if messages %}
                     {% for message in messages %}
                     <div class="container alert alert-success" role="alert">
                            {{ message }}
                     </div>
                     {% endfor %}
              {% endif %}
       {% endwith %}
    <div class="container">
        <div class="row">
            {% for film in filme %}
                <div class="col-lg-3">
                    <div class="card">
                        <!--Card image-->
                        <div class="view overlay">
                        <img class="card-img-top" src="{{ film.image }}" alt="Card image cap">
                        <a href="{{ url_for('main.display_film', film_id = film.id )}}">
                            <div class="mask rgba-white-slight"></div>
                        </a>
                        </div>
                        <!--Card content-->
                        <div class="card-body">
                        <!--Title-->
                        <h4 class="card-title">{{ film.titel }}</h4>
                        <!--Text-->
                        <div class="card-text">
                            <p class="card-text-item"> <b><span style="font-style: italic">Regie:</span></b> {{ film.regie }}</p>
                            <p class="card-text-item"><b><span style="font-style: italic">Besetzung:</span></b> {{ film.schauspieler }}</p>
                            <p class="card-text-item"><b><span style="font-style: italic">Dauer:</span></b> {{ film.laenge }}min</p>
                        </div>
                        <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
                            <div class="card-buttons">
                                <a href="{{ url_for('main.display_film', film_id = film.id )}}" class="btn btn-primary">Infos</a>
                                <a href="{{ url_for('main.edit_film', film_id = film.id )}}" class="btn btn-secondary">Bearbeiten</a>
                                <a href="{{ url_for('main.delete_film', film_id = film.id )}}" class="btn btn-danger">Löschen</a>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
        </div>
    </div>
{% endblock %}
