{% extends 'layout.html' %}

{% block content %}
<br>
<br>
<br>
<div class="container" >
    <div class="col-md-3" style="align-items:center">
        <div class="card">
            <!--Card image-->
            <div class="view overlay">
            <img class="card-img-top" src="{{ film.image }}" alt="Card image cap">
            <a href="{{ url_for('main.display_film', film_id = film.id )}}">
            <div class="mask rgba-white-slight"></div></a>
            </div>
            <!--Card content-->
            <div class="card-body">
            <!--Title-->
            <h4 class="card-title">{{ film.titel }}</h4>
            <form action="{{ url_for('main.delete_film', film_id = film.id )}}" method="POST" style="mt-5">
            <button type="submit" class="btn btn-danger"> Endgültig löschen? </button>
            <!--Text-->        
            </div>
        </div>
    </div>
    </div> 
</div>
    
{% endblock %}