.container-navbar{
    display: inline;
}

.navbar-brand { 
    display: inline-block;
}

.navbar-li{
    display: inline;
    color: white;
}

.card{
    height:fit-content;
}

.card-body{
    text-align: center;
}

.list-group-item-tag{
    font-style: bold;
}