.navbar-brand {
    letter-spacing: 3px;
    color: whitesmoke;
  }
  
  .navbar-brand:hover {
    font-style: bold;
  }
  
  .navbar-scroll .nav-link,
  .navbar-scroll .fa-bars {
    color: whitesmoke;
  }
  
  .navbar-scrolled .nav-link,
  .navbar-scrolled .fa-bars {
    color: whitesmoke;
  }
  
  .navbar-scrolled {
    background-color: #ffede7;
  }

.btn-outline-secondary{
    color:whitesmoke;
}

.btn-outline-secondary:hover{
    color:whitesmoke;
}

.card{
    height:fit-content;
}

.card-body{
    text-align: center;
}

.list-group-item-tag{
    font-style: bold;
}