*{
  font-family: Verdana;
}

body{
  background: f1fbff;
}

footer{
  font-style: italic;
  font-size: 12px;
}

.section-padding{
  padding: 100px 0;
}

.carousel-item{
  height: 100vh;
  min-height: 300px;
}

.carousel-caption{
  bottom: 220px;
  z-index: 2;
}

.carousel-caption h5{
  font-size: 45px;
  letter-spacing: 2px;
  margin-top: 25px;
}

.carousel-caption p{
  width: 60%;
  margin: auto;
  font-size: 18px;
  line-height: 1.9;
}

.carousel-inner::before{
  content: " ";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.nav-item{
  padding: 2px;
}

.navbar-nav a{
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 500;
}

.navbar-light .navbar-brand{
  color: #000;
  font-size: 25px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
}

.w-100{
  height:100vh;
}

.navbar-light .navbar-brand:focus,
.navbar-light .navbar-brand:hover{
  color:#000;
}

.navbar-light .navbar-nav .navbar-link{
  color: #000;
}

.about-text{
  text-align: center;
}

/* registrierungsform */

.registrierung-form{
  margin-top: auto;
}

/* loginform */

.login-form{
  margin-top:80px;
}

.text-center text-lg-start{
  margin-top: 10px;
}

.rounded-t-5 {
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

@media (min-width: 992px) {
  .rounded-tr-lg-0 {
    border-top-right-radius: 0;
  }

  .rounded-bl-lg-5 {
    border-bottom-left-radius: 0.5rem;
  }
}

/* Cards */
.card{
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.col-lg-3{
  margin-top: 40px;
}

.card-img-top {
  width: 100%;
  height: 40vh;
  object-fit: cover;
  }

.card-body{
  margin: 0% 0% 0% 3%;
  padding: 6% 0%;
}

.card-text{
  margin-top: 10px;
  object-fit: cover;
}

.card-buttons{
    display: inline;
    height: 2em;
    width: 100%;
    border: none;
    object-fit: cover;
}

/* einzelfilm */

.card-einzel{
  align-content: center;
  width: 100%;
  max-width: 200px;
}

.card-img-top-einzel {
  flex-grow: 1;
  object-fit:contain;
  align-items: center;
}

/* responsive */

@media only screen and (min-width: 768px) and (max-width: 991px){
  .carousel-caption{
    bottom: 370px;
  }
  .carousel-caption p{
    width: 100px;
  }
}

@media only screen and (max-width: 767px) {
  .navbar-nav{
    text-align: center;
  }
  .carousel.caption{
    bottom: 125px;
  }
  .carousel-caption h5{
    font-size: 17px;
  }
  .carousel-caption a{
    padding: 10px 15px;
  }
  .carousel-caption p{
    width: 100%;
    line-height: 1.6;
  }
}

.rounded-t-5 {
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

@media (min-width: 992px) {
  .rounded-tr-lg-0 {
    border-top-right-radius: 0;
  }

  .rounded-bl-lg-5 {
    border-bottom-left-radius: 0.5rem;
  }
}

.text-line{
  padding: 4px;
}












.btn-outline-secondary{
    color:whitesmoke;
}

.btn-outline-secondary:hover{
    color:whitesmoke;
}

.list-group-item-tag{
    font-style: bold;
}