{% extends 'layout.html' %}

{% block content %}
<div class="container">
    <h4 class="form"> Anmelden </h4>
        <div class="container-form">
        <hr>
        <br>
        <form action="/register_user" method="post">
            {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.name.label }}
        <br>
            {{ form.name }}
        </div>
        <br>
        <div class="form-group">
            {{ form.email.label }}
        <br>
            {{ form.email }}
        </div>
        <br>
        <div class="form-group">
            {{ form.submit(class="btn btn-primary") }}
        </div>
        <br>
        </form>
        </div>
</div>

    
{% endblock %}
